name = "fiestabacktothe80s"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[vars]
NEXT_PUBLIC_PUBLIC_URL="__NEXT_PUBLIC_PUBLIC_URL__"
NEXT_PUBLIC_ASSETS_URL="__NEXT_PUBLIC_ASSETS_URL__"
NEXT_PUBLIC_API_SERVERLESS_URL="__NEXT_PUBLIC_API_SERVERLESS_URL__"
NEXT_PUBLIC_API_SERVERLESS_AUTH="__NEXT_PUBLIC_API_SERVERLESS_AUTH__"
NEXT_PUBLIC_API_ROUTES_SERVERLESS_IMAGES_URL="__NEXT_PUBLIC_API_ROUTES_SERVERLESS_IMAGES_URL__"
